<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://jax-ws.dev.java.net/spring/core http://jax-ws.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet http://jax-ws.java.net/spring/servlet.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
       default-autowire="byName">
  
    <!-- Enable Scheduling -->
    <task:annotation-driven />
   
	<!-- CONFIGURACION PARA DAOS DE REPOSITORIO -->
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.facade" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.ventas.controller" /> 	
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.taquilla.controller" /> 
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.dulceria.controller" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.configuracion.controller" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.devolucion.controller" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.cancelacion.controller" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.inventarios.controller" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.dashboard.controller" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.reportes.controller" />
     <context:component-scan base-package="mx.com.aztlan.pos.servicios.caja.controller" /> 	     
      
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.ventas.business" />
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.taquilla.business" />
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.dulceria.business" />
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.configuracion.business" />
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.devolucion.business" />
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.cancelacion.business" />
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.dashboard.business" /> 
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.inventarios.business" />
     <context:component-scan base-package="mx.com.aztlan.pos.negocio.reportes.business" />
     
     
     <context:component-scan base-package="mx.com.aztlan.pos.infraservices.persistencia.posaztlanbd.dao" />  
 	
 </beans>