<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <style type="text/css">
      html, body { margin: 0 0 0 0; padding: 0px 0px 0px 0px; background-color: white; }
      h4 {  font-family: "Century Gothic", Verdana, Arial; font-size: 24px; line-height: 20px; color: black;  margin-right: 10px;}
      table {margin-left:auto; margin-right: auto;}
      td span {font-family: "Century Gothic", Verdana, Arial; font-size: 14px; line-height: 16px; color: black;  margin-left: 10px; margin-right: 10px;}
      #container  {width: auto; height: auto;}
   </style>
   <title>Muvitul - Recuperaci&oacute;n de Contrase&ntilde;a</title>
</head>
<body>
   <div id="container">
         <table id="recuperaContrasenia" width="700px;" cellspacing="0" cellpadding="0" style="border: 10px solid #dadada; border-radius: 15px;">
            <tr style="background-color:white;">
               <td>
                  <img src="MuvitulT.png">
               </td>
               <td colspan="3" align="right" valign="bottom">
                     <span>
                        <h4>
                           CONTRASE&Ntilde;A RECUPERADA
                        </h4>
                     </span>
               </td>
            </tr>
            <tr>
               <td colspan="4" style="background-color:#20225f; height:20px;"></td>
            </tr>
            <tr>
               <td colspan="4" style="background-color:white; height:50px;">
                  <span>
                     Se ha generado una nueva contrase&ntilde;a de acceso.            
                  </span>
               </td>
            </tr>
            <tr>
               <td colspan="4" style="background-color:white; height:50px;">
                  <span>
                     Tu contrase&ntilde;a para acceso a MUVITUL es: <strong>${contraseniaUsuario}</strong>
                  </span>
               </td>            
            </tr>
            <tr>
               <td colspan="4" style="background-color:#57ade2; height:20px;" align="center"><span style="color:white;">2018. GRUPO TECNETIA SA DE CV.</span></td>
            </tr>
         </table>
   </div>   
</body>
</html>